.container {
    height: %100;
    display: grid;
    grid-template-columns: 1fr o.4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "header header"
        "main aside";

.heading {
    display: flex;
    border: 5px;
    background-color: black;
    margin: 30px;
    padding: 20px;
    height: fit-content;

    color: darkred;
    text-align: center;
}

.hobbies {
    display: flex;
    flex-flow: column wrap;
    align-items: baseline;
    border: 5px;
    border-color: darkred;

}
